body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background: url('../photo/design/background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* 白の薄い背景 */
    z-index: -1;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9); /* 背景色 */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #555;
}

.choreographer-photo-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.choreographer-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

#backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#backButton:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#backButton:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}
